# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    paths:
      - '**.ts'
      - '**.tsx'
      - '**.css'
      - '**.yml'
  pull_request:
    paths:
      - '**.ts'
      - '**.tsx'
      - '**.css'
      - '**.yml'
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./jiraf-client

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 17.x
      uses: actions/setup-node@v3
      with:
        node-version: 17.x
        # cache: 'npm'
        # cache-dependency-path: "./jiraf-client/package-lock.json"
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
